:root {
    --color-primary: #416D6D;
    --color-secondary: #C86F43;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #608E8E;
    --color-light: #C5D0D3;
    --color-dark: #343a40;
    --color-white: #ffffff;
}


/* Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

/* Roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Open Sans */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Nunito Sans */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,700&display=swap');
:root {
    --thin: 100;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-nunito-sans: 'Nunito Sans', sans-serif;
}

body,
html {
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #666;
    height: 100%;
}

.section--header {
    padding: 0;
    margin: 0 auto;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    z-index: 10;
    background-color: var(--color-dark);
}

.section--header menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%
}

.section--header menu a {
    max-width: 80%;
    display: flex;
    text-decoration: none;
}

.section--header menu a button {
    display: flex;
    color: #ddd;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2em;
    background-color: var(--color-primary);
    padding: 0 5rem 0 5rem;
    outline: 0.5rem inset var(--color-info);
    width: auto;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    justify-content: space-between;
    position: static;
}

.section--header menu a button:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.background-container--image1,
.background-container--image2,
.background-container--image3,
.background-container--image4,
.background-container--image5,
.background-container--image6 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.background-container--image1 {
    background-image: url(../images/GEDA\ UNDER\ TREE.jpg);
    min-height: 100%;
}

.heading-container-1 {
    display: grid;
    grid-template-areas: "top" "bottom";
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #fff;
    justify-content: space-between;
}


/*
.heading-container-1 span {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #fff;
}
*/

#name {
    grid-area: top;
    margin-bottom: 3rem;
}

#slogan {
    grid-area: bottom;
    margin-top: 3rem;
}

.heading-container {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #fff;
}

.heading-container__heading--big {
    background-color: black;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline: 0.5rem inset var(--color-primary);
    outline-offset: 1rem;
    line-height: 5rem;
}

.section {
    text-align: center;
    padding: 3rem 5rem;
}


/*.section--header {
background-color: rgb(241, 241, 241);
color: #666;
height: 4em;
position: relative;
} */

.section--light {
    margin: 0 auto;
    padding: 40px 30px;
    background-color: var(--color-light);
    color: #666;
    object-fit: contain;
}

.heading-container__heading--logo {
    width: 30%;
    margin: 1rem;
}

.background-container--image2 {
    background-image: url(../images/PUBLIC\ UNDER\ TREE.jpg);
    min-height: 80%;
}

.section--dark {
    background-color: #282e34;
    color: #ddd;
    justify-content: center;
}

.section--dark ul li {
    list-style: none;
    margin: 0 auto;
}

.background-container--image3 {
    background-image: url(../images/UNDER\ TREE.jpg);
    min-height: 80%;
}

.heading-container__heading--small {
    background-color: black;
    padding: 0.7rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    outline: 0.4rem inset var(--color-primary);
    outline-offset: 0.2rem;
    line-height: 5rem;
}

.background-container--image4 {
    background-image: url(../images/UNDER\ TREE\ CLOSEUP.jpg);
    min-height: 100%;
}

.background-container--image5 {
    background-image: url(../images/UNDER\ TREE\ SCHOOL.jpg);
    min-height: 100%;
}

.background-container--image6 {
    background-image: url(/images/20230103_101506.jpg);
    min-height: 100%;
    align-items: end;
}

.map {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.map iframe {
    display: flex;
    margin: 0 auto;
    height: 15em;
    width: 80%;
    margin-bottom: 2rem;
}

#location {
    display: grid;
    grid-template-areas: "top" "bottom";
    padding: 20px 80px 20px 80px;
    min-height: 6em;
    align-items: center;
    line-height: .9em;
    position: relative;
    justify-content: center;
}

#loc-heading {
    display: flex;
    grid-area: top;
    margin-top: 1em;
    padding-top: none;
    justify-self: center;
}

#location p {
    display: flex;
    grid-area: bottom;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 7rem;
    background-color: var(--color-dark);
    justify-content: center;
    align-items: center;
}

footer .contact .social-head {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    padding-top: 0;
    min-height: .1rem;
}

.contact {
    display: grid;
    grid-template-areas: "top" "bottom";
    width: 80%;
    margin: auto;
    justify-content: center;
}

.contact p {
    display: flex;
    flex-wrap: wrap;
    grid-area: top;
}

.contact a {
    grid-area: bottom;
    margin: 1em;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.contact a span {
    color: var(--color-light);
    font-size: 2em;
}

.contact a span:hover {
    display: flex;
    cursor: pointer;
    transform: scale(2);
    transition: ease-in-out;
}

.bi-facebook:hover {}

.bi-twitter:hover {}

.bi-instagram:hover {}

.bi-linkedin:hover {}

.bi-envelope:hover {}

@media (max-width: 900px) {
    .section--header menu {
        max-width: 100%;
        display: grid;
        grid-template-areas: top bottom;
    }
    .section--header menu a #gal {
        max-width: 100%;
        display: flex;
        grid-area: top;
        margin: .8em auto 0 auto;
    }
    .section--header menu a #con {
        max-width: 100%;
        display: flex;
        grid-area: bottom;
        margin: .8em auto .8em auto;
    }
}

@media (max-width: 280px) {
    .section--header {
        justify-content: space-around;
    }
    .section--header menu a #gal {
        font-size: 1em;
        max-width: 80%;
        margin: .8em auto 0 auto;
        align-items: center;
        justify-content: center;
    }
    .section--header menu a #con {
        font-size: 1em;
        max-width: 80%;
        margin: .8em auto .8em auto;
        align-items: center;
        justify-content: center;
    }
    .heading-container__heading--big {
        background-color: black;
        padding: 1rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        outline: 0.5rem inset var(--color-primary);
        outline-offset: .6rem;
        line-height: 2.5rem;
        font-size: small;
    }
    .heading-container__heading--small {
        background-color: black;
        padding: 0.14rem;
        border-top-left-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        outline: 0.4rem inset var(--color-primary);
        outline-offset: 0.1rem;
        line-height: 2.5rem;
        font-size: x-small;
    }
    .section--light video {
        margin: 5em auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
